body {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10%;
     width: 100%;
     font-family: 'Open Sans', sans-serif;
     background-color: rgba(67, 106, 62, 0.776);
     color: rgb(205, 216, 204);
}
.ui-container {
     display: flex;
     flex: 1 0 70%;
     flex-direction: column;
}
.results-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 5%;
}
.score-container {
     margin: auto;
     padding-top: 5%;
}
.btn-container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.gameBtn {
     width: 20%;
     font-size: 1.2em;
     height: auto;
     padding: 2%;
     background-color: rgba(49, 78, 45, 0.851);
     color: rgb(205, 216, 204);
     border-radius: 30%;
     border-style: 1px solid rgba(1, 77, 14, 0.802);
}
.gameBtn:hover {
     background-color: rgba(94, 150, 87, 0.851);
     cursor: pointer;
}
#announceWinner {
     font-weight: 900;
     font-size: 3em;
}
#announceWinner,
#result {
     text-align: center;
}
#reset {
     margin-top: 10%;
     background-color: rgba(114, 13, 13, 0.851);
}